
{% extends 'base.html.twig' %}

{% block body %}
<br><br> <br><br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="card-title text-center mb-4 text-primary">Edit Article</h1>

                        {{ form_start(form) }}
                        
                        <div class="form-group">
                            {{ form_label(form.Libelle, 'Article Name', {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.Libelle, {'attr': {'class': 'form-control', 'placeholder': 'Enter article name'}}) }}
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form_label(form.price, 'Price', {'label_attr': {'class': 'font-weight-bold'}}) }}
                                {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Enter price'}}) }}
                            </div>

                            <div class="form-group col-md-6">
                                {{ form_label(form.marque, 'Marque', {'label_attr': {'class': 'font-weight-bold'}}) }}
                                {{ form_widget(form.marque, {'attr': {'class': 'form-control', 'placeholder': 'Enter marque'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.is_disponible, 'Is Available', {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.is_disponible, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.image, 'Article Image', {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
                            {% if form.vars.value.image is defined and form.vars.value.image is not null %}
                                <img src="{{ asset('uploads/articles/' ~ form.vars.value.image) }}" alt="Current Article Image" class="img-fluid mt-2 rounded">
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.categorieId, 'Category', {'label_attr': {'class': 'font-weight-bold'}}) }}
                            {{ form_widget(form.categorieId, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mt-4">Update</button>
                        {{ form_end(form) }}

                        <a href="{{ path('articles') }}" class="btn btn-secondary btn-block mt-3">Back to the list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
